<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- 定义变量 -->
  <!--<variable name="logbase" value="D:\个人文档\Code\learn\配置系统\Learn.Config.ApiTest\Learn.Config.ApiTest" />-->

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!--输出目标,往哪里输出-->
  <targets>
    <!--type:日志输出类型 File:文件 ColoredConsole:控制台-->
    <!--fileName:日志存储的路径及名称-->
    <!--layout:日志输出格式-->

    <target name="log_file" xsi:type="File"
		  fileName="${basedir}/Logs/Trace/${shortdate}.txt"
		  layout="${longdate} | ${event-properties:item=EventId_Id:whenEmpty=0} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}"
		  archiveFileName="${basedir}/archives/${shortdate}-{#####}.txt"
		  archiveAboveSize="102400"
		  archiveNumbering="Sequence"
		  concurrentWrites="true"
		  keepFileOpen="false" />

    <!-- Error文件保存 -->
    <target name="error_file" xsi:type="File"
      fileName="${basedir}/Logs/error/${shortdate}.txt"
      layout="${longdate} | ${event-properties:item=EventId_Id:whenEmpty=0} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}"
      archiveFileName="${basedir}/archives/${shortdate}-{#####}.txt"
      archiveAboveSize="102400"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen="false" />


    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
  </targets>

  <!--定义使用哪个target输出-->
  <rules>
    <logger name="Microsoft.*" minlevel="Trace" final="true" />
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="log_file" />
    <!--<logger name="*" minlevel="Debug" writeTo="debugger" />-->
    <logger name="*" minlevel="Error" writeTo="error_file" />
    <!--Output hosting lifetime messages to console target for faster startup detection -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />
    
  </rules>
</nlog>